<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Edit Post</h1>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH" class="post-form">
        <textarea name="content"><%=post.content%></textarea>
        <button>Submit Edition</button>
    </form>
</body>
</html>