<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Add new post</h1>
    <form method="post" action="/posts" class="post-form">
        <input placeholder="Enter username" type="text" name="username">
        <br><br>
        <textarea name="content" rows="5" cols="30"></textarea>
        <br><br>
        <button>Submit post</button>
    </form>
</body>
</html>